/* INFO BOXES */
.portable-infobox {
	width: 275px;
	border: 1px #000000 solid;
	background-color: transparent;
}

/* Field labels */
.portable-infobox .pi-data-label {
	font-weight: normal;
	padding: 0;
}

.pi-image img {
     max-width:100%;
     height:auto;
     background-color: transparent;
}

/* Wizarding Adult - purple */
.pi-theme-wizardingadult .pi-image,
.pi-theme-wizardingadult .pi-title,
.pi-theme-wizardingadult .pi-navigation { 
	background-color: #610086;
	color:#F9F9F9;
	text-align:center;
	text-transform:uppercase;
	font-size:16px;
}
.pi-theme-wizardingadult .pi-header { color: #610086; }
.pi-theme-wizardingadult .pi-key-val { background-color: #F9F9F9; }

/* === PLACES === */


/* === BUSINESS === */